* {
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    background: linear-gradient(108deg, rgba(181,227,223,1) 0%, rgba(38,117,200,1) 0%, rgba(44,177,227,1) 100%, rgba(0,176,255,1) 100%);    font-family: "poppins", sans-serif;
}

.container-principal {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    h3 {
        color: aliceblue;
        background: linear-gradient(rgb(54, 54, 156), rgb(126, 127, 190));
        border-radius: 5px;
        text-align: center;
        padding: 5px;
    }
}

.container-links {
        background: linear-gradient(22deg, rgb(23, 99, 92) 0%, rgb(17, 71, 129) 0%, rgb(61, 110, 245) 100%, rgba(0,176,255,1) 100%);    font-family: "poppins", sans-serif;
        h3 {
        display: flex;
        justify-content: center;
        color: aliceblue;
        }
        ul {
            display: flex;
            justify-content: end;
            padding-bottom: 10px;
            gap: 100px;
            list-style: none;
            margin-right: 60px;
    }
}
    
.container {
    background-color: aliceblue;
    border-radius: 20px;
    padding: 30px;
    width: 400px;
    input {
        border: 1px solid rgb(92, 92, 92);
        border-radius: 5px;
        padding: 5px;
        width: 100%;
    }
    button {
        background-color: #00c3ff;
        border: 1px solid rgb(92, 92, 92);
        border-radius: 5px;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 15px;
        padding: 10px;
    }
    .check-box {
        display: flex;
        margin-top: 5px;
        label {
            padding-left: 47px;
        }
        input {
            margin-bottom: 10px;
            margin-top: 5.5px;
        }
    }
}
